@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Outfit:wght@100..900&display=swap");
@import "tailwindcss";

.active hr {
  @apply block;
}

* {
  font-family: Outfit;
}

/* Professional thin scrollbar */
.thin-scrollbar::-webkit-scrollbar {
  height: 2px; /* for horizontal */
  width: 2px; /* for vertical */
}

.thin-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.thin-scrollbar::-webkit-scrollbar-thumb {
  background: #cbd5e1; /* soft gray */
  border-radius: 999px;
}

.thin-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #94a3b8;
}

/* Firefox */
.thin-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #cbd5e1 transparent;
}
